In [11]:
import pandas as pd
from airtable import Airtable

%config Completer.use_jedi = False

In [23]:
API_KEY = 'keyt5ux6Frmsh1go7'
BASE_ID = 'app76VPZz5l0iz00o'
TABLE_NAME = 'Asset Orders'

airtable = Airtable(BASE_ID, TABLE_NAME, API_KEY)
records = list(map(lambda record: record['fields'], airtable.get_all()))

In [24]:
records_df = pd.DataFrame.from_records(records)
records_df

,Asset,Order Cost (USD),Order Units,Order Date,Unit Cost (USD)
0,DHR,1161.80,5.0,2021-04-09T13:30:00.000Z,232.36
1,POW.TO,161.66,5.0,2021-05-21T04:00:00.000Z,32.33
2,Bianka,NaN,NaN,NaN,NaN
3,SOXX,893.60,2.0,2021-04-09T13:30:02.000Z,446.80
4,COST,1095.63,3.0,2021-04-13T13:30:02.000Z,365.21
5,COST,363.21,1.0,2021-04-09T13:30:01.000Z,363.21
6,COST,720.24,2.0,2021-04-06T13:30:01.000Z,360.12
7,SOXX,1323.90,3.0,2021-04-13T13:30:01.000Z,441.30
8,COUR,793.76,16.0,2021-04-05T13:31:01.000Z,49.61
9,DHR,1457.04,6.0,2021-04-13T13:30:00.000Z,242.84